ul {
    list-style: none;
    color: black;
    display: flex;
    justify-content: space-evenly;
}

#logo {
    height: 50px;
    width: 50px;
    float: left;
    padding-left: 15px;
}

#bars {
    float: right;
    padding-right: 10px;
    padding-top: 5px;
}

#navBar {
    box-shadow: 0 5px #888888;
    height: 50px;
}